/* ==========================
   FEATURE CARD
========================== */

.feature-card{
    background: var(--bg-card);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.08);
    border-radius: var(--radius-lg);

    box-shadow: var(--shadow-lg);

    padding: 2rem;

    transition: all 0.3s ease;
}

/* ==========================
   FEATURE ICON
========================== */

.feature-icon{
    width: 56px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.08);
    border-radius: var(--radius-md);

    color: var(--primary-color);
    font-size: 1.4rem;

    margin-bottom: 1.5rem;
}